
/**DESING MOBILE FIRST **/

        /***var color**/

:root {
    --color-green: #bfcc30;
    --color-blue: #079bd9;
    --color-gray: #17263C;
}
        /**gloables**/

html {

    width: 100%;

}
body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins';
    width: 100%;
    overflow-x: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;

}
h2, h3, h4 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 1.3em;
}

p {
    font-family: 'Roboto';
    font-size: 1em;
    font-weight: lighter;
}
        /**menu movil**/

.sm-wrapper{
    margin-top: 100px;
}

.sidemenu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    background-color: var(--color-gray);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.logo-menu {
    position: absolute;
    padding: 10px 0 0 30px;
    top: 20px;
    max-width: 70%;
    cursor: pointer;
}
.sidemenu a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Varela+Round', sans-serif;
    color: #ffffff;
    display: block;
    letter-spacing: 5px;
    margin-bottom: 20px;
    transition: 0.3s;
    text-align: center;
}
.sidemenu a:last-child {
    background-color: #bfcc30;
    border-radius: 30px;
    text-align: center;
    padding: 10px 10px;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    max-width: 400px;
}
.sidemenu a:last-child:hover {
    padding-left: 0px;
    padding-right: 0px;
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
.sidemenu .close{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 95px;
    margin-left: 50px;
}

.sm-wrapper a:hover:after{
    width: 10%;
}

.sm-wrapper a:hover{
    padding-left: 64px;
    transition: 0.35s ease-in-out;
}
.icon-menu {
  font-size: 50px;
  text-align: left;
  cursor: pointer;
  color: #079bd9;
  margin: 0;
  padding: 5px 0 0 10px;
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-bottom-right-radius: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  position: fixed;
  z-index: 997;

}
@media only screen and (min-width:865px) {
  .icon-menu {
    display: none;
  }
}
        /**menu escritorio**/

@media only screen and (min-width:865px) {
    .barra {
        width: 100%;
        background-color: transparent;
        display: inline-block;
        height: 100px;
        position: fixed;
        z-index: 998;
        transition: all .3s ease;

    }
    .barra.white {
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15);
        transition: 0.2s padding;
    }
    .barra.white nav a {
        color: #000;
    }
    .barra nav a {
        color: #fff;
    }
    .barra nav a:last-child {
        background-color: transparent;
        border: 2px solid #fff;
        padding: 11px 35px;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        border-radius: 30px;
    }
    .barra nav a:last-child:hover {
        transition: 0.5s ease;
        border: 2px solid var(--color-blue);
        background-color: var(--color-blue);

    }
    .barra.white nav a:last-child {
        transition: 0.5s ease;
        border: 2px solid var(--color-blue);
        background-color: var(--color-blue);
    }
    .barra.white nav a:last-child:hover {
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
        transform: scale(1.01);
        transition: 0.5s;
    }
    .navbar-logo {
        max-width: 200px;
        margin: 20px 0;
    }
    .logo {
        display: none;
        max-width: 100%;
    }
    .menu {
        float: right;
        padding: 30px 0;
        margin: 0 auto;
    }
    .menu a {
        display: inline-block;
        margin: 0 10px;
        text-decoration: none;
        font-family: 'Roboto';
    }
}
@media only screen and (max-width:865px) {
    .barra {
        display: none;
    }
}

        /**hero movil **/
.nombre-sitio b {
    font-weight:700;
}
.nombre-sitio {
    margin: auto;
    padding-top: 30vh;
    color: #fff;
    text-align: center;
    font-weight: lighter;
}

.hero p {
    text-align: center;
    margin: 15px;
    color: #fff;
    font-size: 1.2em;
}
.button.header-1 {
    background-color: transparent;
    padding: 10px 40px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    transition: all .3s ease;
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    margin: 0 10px 0 0;
    font-size: 1.2em;
}
.button {
    background-color: var(--color-blue);
    padding: 11px 35px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-top: 10px;
    transition: all .3s ease;
    border-radius: 30px;
    font-size: 1.2em;
    display: inline-block;

}
.button-header:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    transition: 0.5s;
    transform: scale(1.01);
}
.hero.parallax-bg {
    background-image: url(../img/parallax.jpg);
    text-align: center;
    background-position: center;
    background-size:cover;
    height:100vh;
    position: relative;


}

.parallax-bg {
    background-repeat: no-repeat;
    transition: initial;
}
#Capa_1 {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
#right {
    display: none;
}
        /**Hero desktop**/

@media only screen and (min-width:865px) {
.hero.parallax-bg {
    background: #079bd9 url(../img/parallax.jpg);
    background-size: cover;
    height: 100vh;
    text-align: center;
    background-position: bottom center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
 }
.nombre-sitio {
    font-size: 3.5em;
    text-align: left;
    margin-bottom: 20px;
}

.hero p {
    text-align: left;
    font-size: 1.7em;
    margin: 0;
    margin-bottom: 20px;
}
.hero-content {
    max-width: 1300px;
    margin: 0 auto;
    text-align: left;
}
#right {
    position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    display: block;
}
}
        /**secction-1 especialidades**/

.section-especialidades {
    background: linear-gradient(#fff, #f9f9f9);
    border-bottom: 1px solid #e9e9e9;
}
.section-especialidades h2 {
    margin: 0;
    padding: 40px 0;
    font-weight: normal;
    font-size: 1.8em;
    color: var(--color-blue);
}
.section-especialidades h2:after {
    content: '';
    background-image: url(../img/sep.png);
    height: 11px;
    width: 350px;
    display: block;
    margin: 0 auto;
}
.section-1{
    display: grid;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    grid-gap: 0.5em;
    grid-template-columns: repeat(1, auto);
}
.section-1 h3 {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.section-1 p {
    color: #888;
}
.section-1 a {
    color: #000;
    text-decoration: none;
}
.box-1 {
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.box-1 img {
    max-width: 60px;
    margin: 0 auto;
    text-align: center;
}

.box-2 {
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.box-2 img {
    max-width: 60px;
    margin: 0 auto;
    text-align: center;
    color: red;
}
.box-3 {
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.box-3 img {
    max-width: 60px;
    margin: 0 auto;
    text-align: center;
}
.box-4 {
    margin: 0 auto;
    margin-bottom: 30px;
}
.box-4 img {
    max-width: 60px;
    margin: 0 auto;
    text-align: center;
}
.box-5 {
    margin: 0 auto;
    margin-bottom: 30px;
}
.box-5 img {
    max-width: 60px;
    margin: 0 auto;
    text-align: center;
}
.box-6 {
    margin: 0 auto;
    margin-bottom: 30px;
}
.box-6 img {
    max-width: 60px;
    margin: 0 auto;
    text-align: center;
}
@media only screen and (min-width:480px) {
    .section-1{
    display: grid;
    text-align: center;
    margin: 0 auto;
    grid-gap: 0.5em;
    grid-template-columns: repeat(2, auto);
}
}
@media only screen and (min-width:865px) {
    .section-1{
        grid-template-columns: repeat(3, auto);
        text-align: center;
        max-width: 1024px;
        margin: 0 auto;
        grid-template-rows: repeat(3, auto);
        grid-gap: 1em;
        justify-content: center;
       }
    .section-especialidades h2 {
    margin: 0;
    padding: 40px 0;
    font-weight: normal;
    font-size: 40px;
    color: var(--color-blue);
}
    }

        /**section-about**/

.left {
    display: none;
}
.right {
    display: none;

}
.about-section {
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;

}
.about {
    display: grid;
    grid-template-columns: auto, auto;
    padding-bottom: 100px;
    padding-top: 100px;
    grid-gap: 20px;
    grid-template-areas: "titile-about"
                         "p-about"
                         "img-about"
                         "img-about"
                         "img-about";

}
.img-about {
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 70px rgba(0,0,0,0.26);
    margin: 0 auto;
    grid-area: img-about;
}
.p-about {
    color: #888;
    grid-area: p-about;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    line-height: 1;
}
.titile-about {
    color: var(--color-blue);
    grid-area: titile-about;
    text-align: center;
    font-size: 1.8em;
    margin: 0;
}
.titile-about::after {
    content: '';
    background-image: url(../img/sep.png);
    height: 11px;
    width: 350px;
    display: block;
    margin: 0 auto;
}

@media only screen and (min-width:865px) {
.left {
    position: absolute;
    max-width: 150px;
    margin-top: 400px;
    z-index: -1;
    display: block;

}
.right {
    position: absolute;
    max-width: 130px;
    right: 0;
    margin-top: -100px;
    display: block;


}
.about-section {
    display: grid;
    grid-template-columns: minmax(auto, 1024px);
    justify-content: center;

}
.about {
    display: grid;
    grid-template-columns: auto, auto;
    padding: 150px 0 150px 0;
    grid-template-areas: "titile-about img-about"
                         "p-about img-about"
                         ". img-about";

}
.img-about {
    border-radius: 10px;
    box-shadow: 0 2px 70px rgba(0,0,0,0.26);
    margin: 0 auto;
    grid-area: img-about;
    max-width: 600px;
}

.p-about {
    color: #888;
    grid-area: p-about;
    text-align: left;
    font-size: 1.3em;
}
.titile-about {
    color: var(--color-blue);
    grid-area: titile-about;
    text-align: left;
    font-size: 50px;
}
}
        /**google maps**/

.map {
    background-color: #f9f9f9;
    border: 1px solid #e9e9e9;
}
#map {
    height: 420px;
    display: block;
    background-color:#000;
}
.map h2 {
    padding-top: 30px;
    font-size: 1.8em;
    color: var(--color-blue);
}
.map p {
    text-align: center;
    padding-top: 0;
    color: #888;
    font-size: 1em;
}
.map h2::after {
    content: '';
    margin: 0 auto;;
    background-image: url(../img/sep.png);
    height: 11px;
    width: 200px;
    display: block;
}
.waze-botton {
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 50px;
    max-width: 200px;
}
.waze-botton img {
    max-width: 200px;
}
@media only screen and (min-width:865px) {
    .map h2 {
    padding-top: 30px;
    font-size: 35px;
    color: var(--color-blue);
}
    .map p {
    text-align: center;
    padding-top: 0;
    color: #888;
    font-size: 1.3em;
    padding-bottom: 30px;
}
    .waze-botton {
        display: none;
    }
}
        /**Seccion Doctors**/
.swiper-container {
    width: 100%;
    max-width: 100%;
    padding-bottom: 40px;
    }
.swiper-container h2 {
    color: var(--color-blue);
    font-size: 1.8em;
    padding: 10px 0;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 0 40px 0;
    }
.swiper-slide img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    background-position: center;
    background-size: cover;
}
.swiper-slide h3 span {
    font-size: 1.1em;
    font-weight: lighter;
    color: var(--color-blue);
}
.swiper-slide h3 {
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: var(--color-blue);
}
.swiper-slide h4 {
    font-size: 1.2em;
}
.swiper-slide h4 ,p {
    color: #888;
}
.swiper-slide p {
    padding-top: 5px;
    margin: 0 10px;

}


        /**Secion-Registro**/
.login-section {
    display: block;
    text-align: center;
    background-image: url(../img/bg-doctors.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.login-conteiner{
    display: block;
}
.login-conteiner span {
    width: 50px;
    height: 10px;
    color: var(--color-green);

}
.login-tittle {
    grid-area: login-tittle;
    font-size: 1.8em;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}
.login-tittle:after {
    content: '';
    background-image: url(../img/sep.png);
    height: 11px;
    width: 50%;
    display: block;
    margin: 0 auto;
}
.login-p {
    grid-area: login-p;
    color: #fff;
    font-size: 1em;
    padding: 0 0 40px 0;
    margin: 0;
}
.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:770px;
	position:relative;
	background:url(../img/bg-registro.jpg) no-repeat center;
  box-shadow: 0 2px 70px rgba(0,0,0,0.26);
  grid-area: login-wrap;

}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
  background:rgba(33,175,242,.7);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transforem:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#fff;
	font-size:12px;
}
.login-form .group .button{
	background: var(--color-blue);
}
.login-form .group .button.facebook {
    background-color: #3b5998;
}
.login-form .group .button.google{
    background: #fff;
    color: #757575;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}

.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.hr label {
  color: #fff;
  line-height: 2;
}
.foot-lnk a{
  color: #fff;
  text-decoration: none;
}
@media only screen and (min-width:865px) {
    .login-section {
    display: grid;
    grid-template-columns: minmax(auto, 1524px);
    justify-content: center;
}
.login-conteiner{
    display: grid;
    grid-template-columns: 60% auto;
    padding-bottom: 200px;
    padding-top: 100px;
    grid-gap: 10px;
    grid-template-areas:    ". login-wrap"
                            "login-tittle login-wrap"
                            "login-p login-wrap"
                            ". login-wrap";
}
.login-tittle {
    grid-area: login-tittle;
    font-size: 50px;
    color: #fff;
    text-align: left;
}
.login-tittle:after{
  text-align: left;
  margin: 0;
}
}
    /**footer**/
.section-footer {
  display: grid;
  background-color: var(--color-gray);
  padding-top: 40px;
}
.footer-conteiner {
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    grid-gap: 1fr;
    text-align: left;
    max-width: 90%;
}
.logo-footer img {
    max-width: 65%;
}
.logo-footer i a {
    font-size: 20px;
    font-weight: lighter;
    color:#fff;
    text-decoration: none;
    font-family: 'Roboto';
}
.logo-footer i {
    color: #fff;
    display: block;
    font-size: 1.5em;
    padding-top: 10px;
    margin-left: 5px;
}
.about-footer h4 {
    text-align: left;
    color: #fff;
    }
.about-footer p{
    text-align: left;
    color: #e1e1e1;
}
.contact-footer i {
    font-size: 1.5em;
    padding: 10px;
    color: #fff;
}
.contact-footer h4 {
    color: #fff;
    text-align: left;
}
.contact-footer a {
    text-decoration: none;
    font-family: 'Roboto' ;
    color: #e1e1e1;
    font-weight: lighter;
    font-size: 1em;
}
.contact-footer {
    padding-bottom: 10px;
}
.made-footer {
    background-color: rgb(18, 30, 48);
    width: 100%;
    text-align: center;
}
.made-footer p {
    color: rgb(206, 206, 206);
}
.made-footer img {
    max-width: 100px;
    padding-top: 0;
}
@media only screen and (min-width:865px) {
    .footer-conteiner {
    display: grid;
    grid-template-columns: 40% auto auto;
    padding-top: 10px;
    position: relative;
    grid-gap: 40px;
    }
    .menu-footer {
        max-width: 70%;
    }
    .made-footer {
        width: 100%;
    }
    .contact-footer h4{
    text-align: left;
    padding-left: 10px;
    }
    .contact-footer {
    text-align: left;
    }
    .contact-footer i {
        font-size: 1.5em;
        padding: 10px;
    }
    .contact-footer a {
        text-decoration: none;
        font-family: 'Roboto' ;
        color: #e1e1e1;
        font-weight: lighter;
        font-size: 1em;
    }
    .about-footer h4 {
        text-align: left;
        color: #fff;
    }
    .about-footer p{
        text-align: left;
        color: #e1e1e1;
    }
    .logo-footer {
        text-align: left;
        padding: 20px;
    }
    .logo-footer i {
        color: #fff;
        display: block;
        font-size: 1.5em;
        padding-top: 10px;
        margin-left: 5px;
    }
    .logo-footer i a {
        font-size: 20px;
        font-weight: lighter;
        color:#fff;
        text-decoration: none;
        font-family: 'Roboto';
    }
}
/*******************PERFIL.HTML************************/





/*******************TRATAMIENTOS.HTML************************/
.tratamientosContenedor {
    display: grid;
    grid-gap: 1fr;
    grid-template-columns: auto;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    
}
.verMas{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 10%;
}
.verMas:hover {
    background-color: #079bd9;
    transition: ease 1s;
}
.ortodoncia.tratamientos {
    background-image: url(../img/ortodoncia.jpg);
    background-position: center center;
    background-size: cover;
    padding: 40px 20px;
}
.cirugiaDental.tratamientos {
    background-image: url(../img/cirugia.jpg);
    background-position: center center;
    background-size: cover;
    padding: 37px 20px;

}
.periodoncia.tratamientos {
    background-image: url(../img/periodoncia.jpg);
    background-position: center center;
    background-size: cover;
    padding: 37px 20px;
}
.endodoncia.tratamientos {
    background-image: url(../img/endodoncia.jpg);
    background-position: center center;
    background-size: cover;
    padding: 37px 20px;
}
.odontologiaGeneral.tratamientos {
    background-image: url(../img/general.jpg);
    background-position: center center;
    background-size: cover;
    padding: 37px 20px;
}
.implantesDentales.tratamientos {
    background-image: url(../img/implante.jpg);
    background-position: center center;
    background-size: cover;
    padding: 37px 20px;
}
.tratamientos h1 {
    color: #fff;
}
.imgTra {
    max-width: 50%;
    position: relative;
}

.endodoncia {
    padding-top: 40px;
}
@media only screen and (min-width:865px) {
    .tratamientosContenedor {
        display: grid;
        grid-gap: 1fr;
        grid-template-columns: 341px 341px 341px;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        max-width: 1024px;
        
    }
    .tratamientos {
        border-radius: 5%;
    }
    .ortodoncia.tratamientos{
        padding: 20px;
    }
    .endodoncia.tratamientos{
        padding: 20px;
    }
}